@font-face {
    font-family: 'GowunBatang';
    font-weight: 400;
    src: url('../font/GowunBatang-Regular.woff') format('woff');
}

@font-face {
    font-family: 'GowunBatang';
    font-weight: 700;
    src: url('../font/GowunBatang-Bold.woff') format('woff');
}


@font-face {
    font-family: "adobe-myungjo-std", sans-serif;
    font-weight: 500;
    font-style: normal;
}