@font-face {
    font-family: 'GowunBatang';
    font-weight: 400;
    src: url('../font/GowunBatang-Regular.woff') format('woff');
}

@font-face {
    font-family: 'GowunBatang';
    font-weight: 700;
    src: url('../font/GowunBatang-Bold.woff') format('woff');
}


@font-face {
    font-family: "adobe-myungjo-std", sans-serif;
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    src: url('../font/Pretendard-Light.woff') format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    src: url('../font/Pretendard-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    src: url('../font/Pretendard-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    src: url('../font/Pretendard-SemiBold.woff') format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    src: url('../font/Pretendard-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    src: url('../font/Pretendard-Black.woff') format('woff');
}


@font-face {
    font-family: 'Glyphter';
    src: url('../font/Glyphter.eot');
    src: url('../font/Glyphter.eot?#iefix') format('embedded-opentype'),
         url('../font/Glyphter.woff') format('woff'),
         url('../font/Glyphter.svg#Glyphter') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
	display: inline-block;
   font-family: 'Glyphter';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}

.icon-aw_logo_svg:before {
    content: '\0042';
    display: inline-block;
    margin-left: 10px;
    margin-right: 5px;
    vertical-align: middle;
    font-size: 25px;
    color: #918f90;
}
