body{font-family: 'Pretendard';}
.visual-area {height: 100vh;}
.visual-area .box{position: relative;}
.visual-area .box, .visual-area .box .visual-silder {height: 100%;}
.visual-area .box .visual-silder .thumbnail img{width: 100%; height: 100%; object-fit: cover; vertical-align:bottom;}
.visual-area .box .visual-silder {position: relative;}
.visual-area .box .visual-silder  .txt{position: absolute; bottom: 5%; left: 5%; z-index: 1; color: #fff; font-size: 72px; font-family: 'FelixTitling'; line-height: 1.2;}

.visual-area .box .txt{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); z-index: 1; text-align: center; color: #fff;  font-family: 'GowunBatang';}
.visual-area .box .txt h4{font-size: 40px; margin-bottom: 20px;}
.visual-area .box .txt h4 b{font-family: "adobe-myungjo-std", sans-serif;}
@media(max-width:1240px){
    .visual-area {height:auto;}
    .visual-area .box .visual-silder .thumbnail img{height: 350px; } 
} 
